<div class="centered">
	<div>
		<%= @shuffle.first.title %> |
		<%= @shuffle.first.artist %>
	</div>

	<div>
		<%= @shuffle.second.title %> |
		<%= @shuffle.second.artist %>
	</div>

	<div>
		<%= @shuffle.third.title %> |
		<%= @shuffle.third.artist %>
	</div>
</div>